<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.entity.Admin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="mobile" property="mobile" />
        <result column="status" property="status" />
        <result column="is_supper" property="isSupper" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <resultMap id="ResultMap" type="com.lee.entity.Admin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="roleName" property="roleName" />
        <result column="deptName" property="deptName" />
        <result column="mobile" property="mobile" />
        <result column="status" property="status" />
        <result column="is_supper" property="isSupper" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <select id="selectUserList" resultMap="ResultMap" parameterType="java.util.Map">
        SELECT
            a.user_id as id,
            a.username as username,
            a.nickname as nickname,
            c.role_name as roleName,
            d.dept_name as deptName,
            a.mobile as mobile,
            a.`status` as status,
            a.create_time as create_time
        FROM
        admin a
        JOIN admin_role b ON a.user_id = b.admin_id
        JOIN role c ON b.role_work_id = c.work_id
        JOIN dept d ON a.dept_id = d.dept_id
        WHERE a.isdel = 0
        <if test="userName != null">
            and a.username =#{userName}
        </if>
        <if test="mobile != null">
            and a.mobile = #{mobile}
        </if>
        <if test="nickName != null">
            and a.nickname = #{nickName}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
        <if test="deptName != null">
            and d.dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="roleName != null">
            and c.role_name like concat('%', #{roleName}, '%')
        </if>
        <if test="createTimeStart != null and createTimeEnd != null">
            and a.create_time between #{createTimeStart} and #{createTimeEnd}
        </if>
        order by a.create_time desc
        <!-- 手动添加分页 -->
        <if test="offsetIndex != null">limit #{offsetIndex}, #{limit}</if>
    </select>

</mapper>
