<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee.mapper.PurchasePaymentMapper">
	<!-- 返回值映射map -->
	<resultMap id="purchasePaymentInfoMapper" type="com.lee.entity.PurchasePaymentInfoModel">
			<result property="id" column="id" />
			<result property="purchaseOrderNum" column="purchase_order_num" />
			<result property="purchasePaymentDate" column="purchase_payment_date" />
			<result property="purchasePaymentAmount" column="purchase_payment_amount" />
			<result property="purchasePaymentRatio" column="purchase_payment_ratio" />
			<result property="createTime" column="create_time" />
			<result property="updateTime" column="update_time" />
			<result property="paymentExt" column="payment_ext" />
			<result property="isdel" column="isdel" />
	</resultMap>
	
</mapper>